.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-right:10px ;
}

.menuLink {
  white-space: nowrap;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  padding: 0;
  font-weight: 500;
  line-height: 19px;
  padding-bottom: 8px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.menuLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s;
}

.menuLink:hover::before {
  transform: scaleX(1);
}

.menuLink:last-child {
  margin-right: 0px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .menuLink {
    font-size: 14px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 900px) {
  .menuLink {
    font-size: 12px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 770px) {
  .menu {
    height: 50px;
  }

  .menuLink {
    padding-bottom: 0px;
    font-size: 14px;
  }
}