.group {
  background-color: rgb(221, 219, 219);
  min-width: 150px;
  width: 250px;
  margin: 5px;
  height: 100vh;
}

.group_header {
  padding-left: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(215, 188, 248);
  height: 40px;
  cursor: pointer;
}

.task_add {
  display: flex;
  background-color: white;
  padding: 10px;
  margin-top: 3px;
  opacity: 30%;
}

.task_add:hover {
  opacity: 70%;
}

@media screen and (max-width: 770px) {
  .main {
    min-height: calc(100vh - 170px);
  }
}