.header {
  display: flex;
  align-items: center;
  justify-content: left;
}

.headerContent {
  height: 40px;
  background-color: #0079BF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}